h1{
    color: darkblue;
}
.header{
    width: 100%;
    background-color: white;
    display:flex;
    position: fixed;
    top: 0px;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkblue;
    z-index: 2;
    
    
    
   
    
}
.top{
    
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
select >option:hover{
    background-color: orange;
}

select{
    padding: 2px;
    background-color: rgba(255,165,0,0.8);
    margin: 2px;
    color:darkblue;
    font-weight: 500;
    
    
}
.gender{
padding: 15px;
background-color: white;
}
.payment{
    padding: 15px;
    background-color: white;  
}
.topsearchbar{
    font-size: larger;
    width:500px;
    padding: 12px;
    text-align: center;
    border-radius: 15px ;
    border: 2px solid orange;
}
.searchbtn{
    padding:14px;
    font-size: larger;
    background-color: black;
    color: cadetblue;
    border: none;
    border-radius: 10px;

}
a{text-align: center;
    
    
    text-decoration: none;
    padding: 20px;
    border: orange 4px solid ;
    background-color: purple;
    color: white;
}
a:hover{
background-color: brown;
}
@media only screen and (max-width: 765px) {
    h1{
        color: darkblue;
        font-size: large;
    }
    .topsearchbar{
        font-size: larger;
        width:90%;
        padding: 8px;
        text-align: center;
        border-radius: 8px ;
        border: 2px solid orange;
    }

  }
  .filter{
      margin-top: 10px;
  }