
.topholder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 80%;
  
    
    
    
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
h3{
    color:darkblue;
}
@media only screen and (max-width: 765px) {
    h3{
        font-size: small;
        font-weight: 300;
        color:darkblue;
    }
    .results{
        width: 100%;
    }
    .pagelabel{
        width:100px;
        font-size: small;
    }
  }
  

