.shower{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:0px;
    
}
.show{
    padding: 25px;
    width: 75%;
    background-color: rgba(25, 25, 25, 0.6);
    border-radius: 16px;
}